.about-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text__container {
    padding: 3.8rem;
    margin: 0 auto;
    width:60%;
}

.section-text__header {
    margin: 20px 0;
}

.section-text__title {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.divider {
    display: block;
    text-align: center;
    margin: 5px auto;
    height: 1px;
    background-color: #fff;
    width: 80px;
}

.about-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text__text {
    color: #fff;
    text-align: justify;
}

.about-image__container {
    width: 50%;
}
.about-image__container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.about-section .primary {
    background-color: #fff;
    outline: none;
    border: none;
    color: #111;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (max-width: 960px) {
    .about-image__container {
        display: none;
    }
    .about-text__container {
        position: relative;
        top: 50px;
        padding: 0;
        width: 100%;
    }
    .about-section .primary {
        display: block;
    }
}