.btn {
    padding: 7px 19px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: #000 !important;
    border-radius: 4px;
    outline: none;
}