.blog-section .section-text__header {
  text-align: center;
  margin: 100px auto 0 auto;
}
.blog-section .container {
  position: relative;
  top: 150px;
  flex-direction: column;
}

.article__container {
  margin-top: 50px;
  display: flex;
}

.blog img {
  opacity: 1;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.article__container button {
  padding: 8px 20px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff !important;
}
.blog {
  position: relative;
  width: 300px;
  margin: 30px;
}
.blog-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.blog:hover .article__container img {
  opacity: 0.3;
}

.blog:hover .blog-overlay {
  opacity: 1;
}
.blog h3 {
  text-align: center;
  font-size: 16px;
  color: #fff;
}


@media screen and (max-width: 960px) {
    .article__container {
        flex-direction: column;
        margin: 0;
    }
    .blog-section .container {
        top: 50px;
    }
}