* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    background-color: #002a3e;
    color: #ccd6f6;
}
a {
    text-decoration: none;
}