.work-section .container {
  flex-direction: column;
}

.work-section {
  position: relative;
  top: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-section .section-text__header .divider {
  width: 300px;
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  .work-section {
    position: relative;
    top: 100px;
  }
  .work-section .section-text__header .divider {
    margin-bottom: 10px;
  }
}
