:root {
  --bg_primary: #002a3e;
  --primary: #ef6d58;
  --btn_border: #ffffff;
  --text_primary: rgb(255, 255, 255);
  --paragraph_primary: rgba(255, 255, 255, 0.64);
  --text_secondary: #ef6d58;
  --heading_font: 2rem;
  --paragraph_font: 1rem;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-section {
  /* background-color: #002a3e; */
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  padding: 100px 0;
  /* max-width: 500px; */
}
.banner-text h3 {
  color: var(--text_primary);
  font-size: 4rem;
  margin-bottom: 13px;
}
.banner-text h1 {
  color: var(--text_primary);
  margin-bottom: 13px;
  font-size: 4rem;
  position: relative;
  text-transform: uppercase;
}
.banner-title {
  color: #43ddff;
}
.banner-text p {
  line-height: 32px;
  margin-bottom: 13px;
  font-size: 1.1rem;
  max-width: 700px;
  color: #002a3e !important;
}
.banner-text button {
  background-color: transparent;
  outline: none;
  border: 1px solid #43ddff;
  color: #43ddff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  animation: animateBtn 1s ease-in-out infinite;
  margin-top: 5px;
}
.banner-text button:hover {
  background-color: rgba(112, 214, 237, 0.3);
}
.banner-text button a {
  color: #fff;
}
.banner-image img {
  width: 500px;
}

@keyframes animateBtn {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column-reverse;
  }
  .banner-image {
    display: none;
  }
  .banner-image img {
    width: 300px;
  }
  .banner-text button {
    display: block;
  }
  .banner-section {
    height: fit-content;
  }
  .banner-text h3 {
    font-size: 1.5rem;
  }
  .banner-text h1 {
    font-size: 2rem;
  }
}
